
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\e802'; } /* '' */
.icon-reddit:before { content: '\e803'; } /* '' */
.icon-500px:before { content: '\e804'; } /* '' */
.icon-pinterest:before { content: '\e805'; } /* '' */
.icon-foursquare:before { content: '\e806'; } /* '' */
.icon-flickr:before { content: '\e807'; } /* '' */
.icon-dribbble:before { content: '\e808'; } /* '' */
.icon-cc:before { content: '\e809'; } /* '' */
.icon-appstore:before { content: '\e80a'; } /* '' */
.icon-linkedin:before { content: '\e80b'; } /* '' */
.icon-meetup:before { content: '\e80c'; } /* '' */
.icon-rss:before { content: '\e80d'; } /* '' */
.icon-skype:before { content: '\e80e'; } /* '' */
.icon-youtube:before { content: '\e80f'; } /* '' */
.icon-vimeo:before { content: '\e810'; } /* '' */
.icon-yelp:before { content: '\e811'; } /* '' */
.icon-tumblr:before { content: '\e812'; } /* '' */
.icon-lastfm:before { content: '\e813'; } /* '' */
.icon-dropbox:before { content: '\e814'; } /* '' */
.icon-stackoverflow:before { content: '\e815'; } /* '' */
.icon-down-open:before { content: '\e816'; } /* '' */
.icon-left-open:before { content: '\e817'; } /* '' */
.icon-right-open:before { content: '\e818'; } /* '' */
.icon-up-open:before { content: '\e819'; } /* '' */
.icon-cancel-circled:before { content: '\e81a'; } /* '' */
.icon-plus-circled:before { content: '\e81b'; } /* '' */
.icon-minus-circled:before { content: '\e81c'; } /* '' */
.icon-heart:before { content: '\e81d'; } /* '' */
.icon-heart-empty:before { content: '\e81e'; } /* '' */
.icon-star:before { content: '\e81f'; } /* '' */
.icon-star-empty:before { content: '\e820'; } /* '' */
.icon-mail:before { content: '\e821'; } /* '' */
.icon-user:before { content: '\e822'; } /* '' */
.icon-users:before { content: '\e823'; } /* '' */
.icon-user-add:before { content: '\e824'; } /* '' */
.icon-help-circled:before { content: '\e825'; } /* '' */
.icon-info-circled:before { content: '\e826'; } /* '' */
.icon-link:before { content: '\e827'; } /* '' */
.icon-location:before { content: '\e828'; } /* '' */
.icon-phone:before { content: '\e829'; } /* '' */